name: dev

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25'

    - name: Build
      run: go build -o transaction-service -v ./cmd/service.go

    - name: Scan Go Binary with Grype
      uses: anchore/scan-action@v3
      id: scan
      with:       
        path: "."
        output-format: table
        fail-build: false       
   
    
    - name: Login to GitHub Container Registry (Optional)
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build Docker Image
      run: |
        docker build -t ghcr.io/${{ github.repository }}/transaction-service:latest .
        docker push ghcr.io/${{ github.repository }}/transaction-service:latest

    - name: Scan Docker Image with Trivy
      uses: aquasecurity/trivy-action@master
      with:
       image-ref: ghcr.io/${{ github.repository }}/transaction-service:latest
       scan-type: image
       format: sarif
       output: /tmp/trivy.sarif
